In [21]:
print("Question 1")
import pandas as pd

Question 1

In [22]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url, sep='|', index_col='user_id')

In [23]:
mean_age_per_occupation = users.groupby('occupation')['age'].mean()

In [24]:
male_ratio_per_occupation = users.groupby('occupation')['gender'].apply(lambda x: (x == 'M').sum() / x.count())
male_ratio_per_occupation = male_ratio_per_occupation.sort_values(ascending=False)

In [25]:
min_max_age_per_occupation = users.groupby('occupation')['age'].agg(['min', 'max'])

In [26]:
mean_age_per_combination = users.groupby(['occupation', 'gender'])['age'].mean()

In [27]:
gender_percentage_per_occupation = users.groupby(['occupation', 'gender']).size() / users.groupby('occupation').size()

In [28]:
print("Mean age per occupation:")
print(mean_age_per_occupation)

Mean age per occupation:
occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [29]:
print("\nMale ratio per occupation (sorted):")
print(male_ratio_per_occupation)

Male ratio per occupation (sorted):
occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender, dtype: float64

In [30]:
print("\nMinimum and maximum ages per occupation:")
print(min_max_age_per_occupation)

Minimum and maximum ages per occupation:
               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [31]:
print("\nMean age per occupation and sex:")
print(mean_age_per_combination)

Mean age per occupation and sex:
occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [32]:
print("\nPercentage of women and men per occupation:")
print(gender_percentage_per_occupation)

Percentage of women and men per occupation:
occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
dtype: float64

In [33]:
print("Question 2")
import pandas as pd

Question 2

In [34]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"
euro12 = pd.read_csv(url)

In [35]:
goals = euro12['Goals']

In [36]:
num_teams = euro12['Team'].nunique()

In [37]:
num_columns = len(euro12.columns)

In [38]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

In [39]:
discipline_sorted = discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=[False, False])

In [40]:
mean_yellow_cards = euro12['Yellow Cards'].mean()

In [41]:
teams_over_6_goals = euro12[euro12['Goals'] > 6]

In [42]:
teams_starting_with_G = euro12[euro12['Team'].str.startswith('G')]

In [43]:
first_7_columns = euro12.iloc[:, :7]

In [44]:
all_except_last_3_columns = euro12.iloc[:, :-3]

In [45]:
selected_teams = ['England', 'Italy', 'Russia']
shooting_accuracy_selected_teams = euro12[euro12['Team'].isin(selected_teams)][['Team', 'Shooting Accuracy']]

In [46]:
print("Number of teams in Euro2012:", num_teams)

Number of teams in Euro2012: 16

In [47]:
print("Number of columns in the dataset:", num_columns)

Number of columns in the dataset: 35

In [53]:
print("\nDiscipline dataframe:\n", discipline)

Discipline dataframe:
                    Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [54]:
print(discipline_sorted)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [55]:
print("\nMean Yellow Cards per Team:", mean_yellow_cards)

Mean Yellow Cards per Team: 7.4375

In [56]:
print("\nTeams that scored more than 6 goals:", teams_over_6_goals)

Teams that scored more than 6 goals:        Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
5   Germany     10               32                32             47.8%
13    Spain     12               42                33             55.9%

   % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
5             15.6%                          80             2              1
13            16.0%                         100             0              1

    Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
5                      0  ...          10                 62.6%         63
13                     0  ...          15                 93.8%        102

   Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
5              49        12             4          0       15        15
13             83        19            11          0       17        17

    Players Used
5             17
13            18

[2 rows x 35 columns]

In [57]:
print("\nTeams starting with G:")
print(teams_starting_with_G)

Teams starting with G:
      Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
5  Germany     10               32                32             47.8%
6   Greece      5                8                18             30.7%

  % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
5            15.6%                          80             2              1
6            19.2%                          32             1              1

   Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
5                     0  ...          10                 62.6%         63
6                     1  ...          13                 65.1%         67

  Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
5             49        12             4          0       15        15
6             48        12             9          1       12        12

   Players Used
5            17
6            20

[2 rows x 35 columns]

In [58]:
print("\nFirst 7 columns:")
print(first_7_columns)

First 7 columns:
                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

In [59]:
print("\nAll columns except the last 3:")
print(all_except_last_3_columns)

All columns except the last 3:
                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Clean Sheets  \
0              0              0                     0  ...             0
1              0              0                     0  ...             1
2              1              0                     0  ...             1
3              0              0                     0  ...             2
4              1              0                     0  ...             1
5              2              1                     0  ...             1
6              1              1                     1  ...             1
7              2              0                     0  ...             2
8              2              0                     0  ...             0
9              0              0                     0  ...             0
10             6              0                     0  ...             2
11             0              0                     0  ...             0
12             2              0                     0  ...             0
13             0              1                     0  ...             5
14             3              0                     0  ...             1
15             0              0                     0  ...             0

    Blocks  Goals conceded Saves made  Saves-to-shots ratio  Fouls Won  \
0       10               3         13                 81.3%         41
1       10               6          9                 60.1%         53
2       10               5         10                 66.7%         25
3       29               3         22                 88.1%         43
4        7               5          6                 54.6%         36
5       11               6         10                 62.6%         63
6       23               7         13                 65.1%         67
7       18               7         20                 74.1%        101
8        9               5         12                 70.6%         35
9        8               3          6                 66.7%         48
10      11               4         10                 71.5%         73
11      23               9         17                 65.4%         43
12       8               3         10                 77.0%         34
13       8               1         15                 93.8%        102
14      12               5          8                 61.6%         35
15       4               4         13                 76.5%         48

    Fouls Conceded  Offsides  Yellow Cards  Red Cards
0               62         2             9          0
1               73         8             7          0
2               38         8             4          0
3               45         6             5          0
4               51         5             6          0
5               49        12             4          0
6               48        12             9          1
7               89        16            16          0
8               30         3             5          0
9               56         3             7          1
10              90        10            12          0
11              51        11             6          1
12              43         4             6          0
13              83        19            11          0
14              51         7             7          0
15              31         4             5          0

[16 rows x 32 columns]

In [60]:
print("\nShooting Accuracy for England, Italy, and Russia:")
print(shooting_accuracy_selected_teams)

Shooting Accuracy for England, Italy, and Russia:
       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

In [61]:
print("Question 3")
import pandas as pd
import numpy as np

Question 3

In [62]:
series1 = pd.Series(np.random.randint(1, 5, size=100))
series2 = pd.Series(np.random.randint(1, 4, size=100))
series3 = pd.Series(np.random.randint(10000, 30001, size=100))

In [63]:
housing_df = pd.DataFrame({'bedrs': series1, 'bathrs': series2, 'price_sqr_meter': series3})

In [64]:
housing_df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

In [65]:
bigcolumn = pd.DataFrame(pd.concat([series1, series2, series3]))

In [66]:
print("Is it true that it is going only until index 99?", bigcolumn.index.max() == 99)

Is it true that it is going only until index 99? True

In [68]:
bigcolumn.reset_index(drop=True, inplace=True)

In [69]:
print("\nDataFrame 'housing_df':")
print(housing_df)
print("\nDataFrame 'bigcolumn':")
print(bigcolumn)

DataFrame 'housing_df':
    bedrs  bathrs  price_sqr_meter
0       4       2            13820
1       4       3            23697
2       2       2            12154
3       3       1            26520
4       2       2            29114
..    ...     ...              ...
95      3       3            20688
96      4       2            15636
97      1       1            27576
98      1       2            23881
99      1       1            24209

[100 rows x 3 columns]

DataFrame 'bigcolumn':
         0
0        4
1        4
2        2
3        3
4        2
..     ...
295  20688
296  15636
297  27576
298  23881
299  24209

[300 rows x 1 columns]

In [70]:
print("Question 4")
import pandas as pd
import numpy as np

Question 4